{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentra - Solar-Powered Crop Pest Detection</title>

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'website/image/favicon/favicon.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">

    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'website/css/animations.min.css' %}">

    <!-- Owl slider -->
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.css' %}">

    <!-- Magnafic Popup -->
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.min.css' %}">

    <!-- Font Link -->
    <link rel="stylesheet" href="{% static 'website/font/flaticons_1/flaticon_agriculture.css' %}">
    <link rel="stylesheet" href="{% static 'website/font/flaticons_2/flaticon_mycollection.css' %}">
    <link rel="stylesheet" href="{% static 'website/font/ionicons/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/font/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'website/font/font-awesome/css/all.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    
    <!-- Optimized Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive-optimized.css' %}">
    
    <!-- Responsive Navbar CSS -->
    
    <!-- Meta Description -->
    <meta name="description" content="Sentra - Solar-powered crop pest and disease detection technology. Real-time monitoring, early detection, and AI-driven insights to protect smallholder farmers' crops.">
</head>

<body>
 <!-- loading -->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="{% static 'website/image/logo/logo-1.png' %}" alt="loading">
        </div>
    </div> 

    <!-- Header -->
    <header id="pq-header" class="pq-header-style-1 pq-has-sticky">
        <div class="pq-top-header top-style-1">
            <div class="container-fluid">
                <div class="top-header-row">
                    <!-- Contact Information -->
                    <div class="pq-header-contact text-right">
                        <ul>
                            <li>
                                <i class="flaticon-location"></i>
                                <span>Kigali, Rwanda</span>
                            </li>
        
                            <li>
                                <a href="mailto:sentra@gmail.com">
                                    <i class="flaticon-mail"></i>
                                    <span>sentra@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Social Media Links -->
                    <div class="pq-header-social">
                        <ul>
                            <li><a href="https://facebook.com/sentra"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://linkedin.com/company/sentra"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://twitter.com/sentra"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/sentra"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="pq-bottom-header">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <div class="pq-header-logo">
                        <a class="navbar-brand" href="/">
                            <img class="img-fluid logo" src="{% static 'website/image/logo/logo-1.png' %}" alt="Sentra">
                        </a>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <div class="pq-menu-contain">
                            <ul class="pq-main-menu">
                                <li class="menu-item current-menu-item">
                                    <a href="/">Home</a>
                                </li>
                    
                                <li class="menu-item">
                                    <a href="/#about">About</a>
                                </li>
                    
                                <li class="menu-item">
                                    <a href="/#features">Features</a>
                                </li>
                    
                                <li class="menu-item">
                                    <a href="/#impact">Impact</a>
                                </li>
                                
                                <li class="menu-item">
                                    <a href="{% url 'product' %}">Our Product</a>
                                </li>
                    
                                <li class="menu-item">
                                    <a href="{% url 'portfolio-details' %}">Careers</a>
                                </li>
                    
                                <li class="menu-item">
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="pq-header-right d-none d-lg-block">
                        <div class="pq-header-icon">
                            <!-- Clickable Phone Contact -->
                            <div class="pq-header-contact">
                                <a href="tel:+250791704244">
                                    <div class="pq-icon">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <span>+250 791 704 244</span>
                                </a>
                            </div>
                    
                            <!-- Smooth Scroll to Contact Section -->
                            <div class="pq-btn-container">
                                <a href="#contact" class="pq-button pq-button-flat">
                                    <span class="pq-button-text">Get in Touch</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </header>


    <!-- Content -->
    {% block content %}
    
    {% endblock %}

<!-- Footer -->
<footer id="pq-footer">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <div class="container">
                <div class="pq-footer-top-widget">
                    <div class="pq-footer-column-1">
                        <div class="widget">
                            <h2 class="pq-footer-title">Empowering Farmers with AI-Powered <span> Precision Agriculture</span></h2>
                        </div>
                    </div>
                    <div class="pq-footer-column-2">
                        <div class="widget">
                            <div class="pq-popup-animation pq-style-1">
                                <div class="pq-popup-inner">
                                    <div class="pq-popup-content">
                                        <a href="#">
                                            <i class="ti-arrow-top-right"></i>
                                        </a>
                                    </div>
                                    <img src="{% static 'website/image/popup/popup-animation.png' %}" alt="popup-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pq-footer-column-3">
                        <img src="{% static 'website/image/logo/logo-1.png' %}" class="pq-footer-logo" alt="sentra-footer-logo">
                    </div>
                    <div class="pq-footer-column-4">
                        <div class="widget">
                            <div class="menu-footer-container">
                                <ul id="menu-footer" class="menu">
                                    <li class="menu-item">
                                        <a href="/" aria-current="page">Home</a>
                                    </li>
                                    <li class="menu-item"><a href="/#about">About Us</a></li>
                                    <li class="menu-item"><a href="{% url 'product' %}">Our Product</a></li>
                                    <li class="menu-item"><a href="{% url 'portfolio-details' %}">Careers</a></li>
                                    <li class="menu-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <span class="pq-copyright">
                            <p>
                                Copyright 2024 Sentra | All Rights Reserved
                            </p>
                        </span>
                    </div>

                    <div class="col-lg-4">
                        <div class="pq-footer-social">
                            <span>Follow Us: </span>
                            <ul>
                                <li>
                                    <a href="https://facebook.com/sentra">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/company/sentra">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/sentra">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtube.com/sentra">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>

    <!-- jQuery JS -->
<script src="{% static 'website/js/jquery-3.7.1.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>

<!-- Rev Slider -->
<script src="{% static 'website/js/rev-custom.js' %}"></script>

<!-- GSAP JS -->
<script src="{% static 'website/js/gsap.min.js' %}"></script>

<!-- ScrollTrigger JS -->
<script src="{% static 'website/js/ScrollTrigger.min.js' %}"></script>

<!-- Magnific Popup JS -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>

<!-- Owl Carousel JS -->
<script src="{% static 'website/js/owl.carousel.js' %}"></script>

<!-- Isotope JS -->
<script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>

<!-- Load More JS -->
<script src="{% static 'website/js/load-more.js' %}"></script>

<!-- WOW JS -->
<script src="{% static 'website/js/wow.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'website/js/custom.js' %}"></script>

<!-- Counter Animation JS -->
<script src="{% static 'website/js/counter-fix.js' %}"></script>

<!-- Enhanced Responsive Navigation Script -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Close navbar when clicking anywhere outside
    document.addEventListener('click', function(event) {
        const navbarMenu = document.getElementById('navbarNavDropdown');
        const togglerButton = document.querySelector('.navbar-toggler');
        
        if (navbarMenu && navbarMenu.classList.contains('show') && 
            !navbarMenu.contains(event.target) && 
            !togglerButton.contains(event.target)) {
            navbarMenu.classList.remove('show');
        }
    });

    // Automatically close navbar when a link is clicked
    const navLinks = document.querySelectorAll('.navbar-collapse a');
    navLinks.forEach(function(navLink) {
        navLink.addEventListener('click', function() {
            const navbarMenu = document.getElementById('navbarNavDropdown');
            if (navbarMenu.classList.contains('show')) {
                new bootstrap.Collapse(navbarMenu).hide();
            }
        });
    });

    // Fix for iOS devices - preventing text size adjustment
    document.querySelector("meta[name=viewport]").setAttribute('content', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0');
    
    // Add active class based on current page
    const currentPath = window.location.pathname;
    const menuItems = document.querySelectorAll('.pq-main-menu .menu-item');
    
    menuItems.forEach(function(item) {
        const link = item.querySelector('a');
        if (!link) return;
        
        const href = link.getAttribute('href');
        if ((href === '/' && currentPath === '/') || 
            (href !== '/' && currentPath.includes(href.replace('/#', '')))) {
            item.classList.add('current-menu-item');
        } else {
            item.classList.remove('current-menu-item');
        }
    });
    
    // Adjust logo height based on scroll position for desktop
    const header = document.getElementById('pq-header');
    const logoImg = document.querySelector('.pq-header-logo .navbar-brand img');
    
    if (window.innerWidth >= 992) {
        window.addEventListener('scroll', function() {
            if (window.scrollY > 50) {
                if (logoImg) logoImg.style.maxHeight = '45px';
                if (header) header.classList.add('pq-header-sticky');
            } else {
                if (logoImg) logoImg.style.maxHeight = '';
                if (header) header.classList.remove('pq-header-sticky');
            }
        });
    }
});
</script>
</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'},{'ap':'cpbh-mt'},{'server':'sg2plmcpnl492384'},{'dcenter':'sg2'},{'cp_id':'9858662'},{'cp_cache':''},{'cp_cl':'8'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
    
</script><script src="{% static 'website/js/clients/scc-c2.min.js' %}"></script>
</body>
</html>