{% extends 'website/base.html' %}
{%load static%}

{% block content %}
    <!-- banner --> 
    <div class="banner py-0">
        <!-- START Home 1 REVOLUTION SLIDER 6.6.18 -->
        <p class="rs-p-wp-fix"></p>
        <rs-module-wrap id="rev_slider_8_1_wrapper" data-alias="slider-1" data-source="gallery"
            style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
            <rs-module id="rev_slider_8_1" data-version="6.6.18">
                <rs-slides style="overflow: hidden; position: absolute;">
                    <rs-slide style="position: absolute;" data-key="rs-31" data-title="Slide" data-anim="ms:600;p:dark;"
                        data-in="o:0;" data-out="o:0;">
                        <img src="{% static 'website/rev/assets/page-1/1-4.png' %}" alt="" title="1" width="1920" height="1080"
                            class="rev-slidebg tp-rs-img" data-panzoom="d:10000;ss:100%;se:120%;" data-no-retina>
    
                        <rs-layer id="slider-8-slide-31-layer-0" data-type="image" data-rsp_ch="on"
                            data-xy="x:c;y:m;yo:-60px,-50px,-30px,-40px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                            data-dim="w:90px,70px,65px,60px;h:49px,38px,35px,32px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:700;sp:1000;sR:700;" data-frame_999="o:0;st:w;sR:7300;"
                            style="z-index:5;">
                            <img src="{% static 'website/image/section-image/group_new.png' %}" alt="" class="tp-rs-img"
                                width="135" height="73" data-no-retina>
                        </rs-layer>
    
                        <rs-layer id="slider-8-slide-31-layer-1" data-type="text" data-rsp_ch="on"
                            data-xy="x:c;y:m;yo:60px,60px,80px,50px;"
                            data-text="w:normal;s:72,64,56,40;l:80,72,64,48;fw:500;a:center;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;sR:1000;"
                            data-frame_999="o:0;st:w;sR:7000;"
                            style="z-index:6;font-family:'ClashDisplay';text-transform:capitalize;">
                            Pest and<br />
                            <span class="rc-color">Disease</span> Detection Technology
                            <h5 class="pq-title-hadding" id='title-text'>Future-Proofing Our Food Systems, One Farm at a Time.<br> 
                                <span>- Powered by Smartel</span></h5>
                        </rs-layer>
    
                        <a id="slider-8-slide-31-layer-2" class="rs-layer rev-btn"
                            href="#}" target="_self" data-type="button"
                            data-xy="x:c;y:m;yo:200px,190px,230px,150px;" data-text="w:normal;s:18,18,16,16;l:32;"
                            data-dim="minh:0px,none,none,none;" data-rsp_bd="off"
                            data-padding="t:12,12,12,10;r:30;b:12,12,12,10;l:30;"
                            data-border="bor:500px,500px,500px,500px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;"
                            data-frame_hover="bgc:#1c2e16;bor:25px,25px,25px,25px;bri:120%;"
                            style="z-index:7;background-color:#6b8e23;font-family:'ClashDisplay';text-transform:uppercase;">
                            See Our Services
                        </a>
                    </rs-slide>
    
                    <rs-slide style="position: absolute;" data-key="rs-32" data-title="Slide" data-anim="ms:600;p:dark;"
                        data-in="o:0;" data-out="o:0;">
                        <img src="{% static 'website/rev/assets/page-1/2-3.png' %}" alt="" title="2" width="1920" height="1080"
                            class="rev-slidebg tp-rs-img" data-panzoom="d:10000;ss:100%;se:120%;" data-no-retina>
    
                        <rs-layer id="slider-8-slide-32-layer-0" data-type="image" data-rsp_ch="on"
                            data-xy="x:c;y:m;yo:-60px,-50px,-30px,-40px;" data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
                            data-dim="w:90px,70px,65px,60px;h:49px,38px,35px,32px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:700;sp:1000;sR:700;" data-frame_999="o:0;st:w;sR:7300;"
                            style="z-index:5;">
                            <img src="{% static 'website/rev/assets/page-1/group_14610462.png' %}" alt="" class="tp-rs-img"
                                width="135" height="73" data-no-retina>
                        </rs-layer>
    
                        <rs-layer id="slider-8-slide-32-layer-1" data-type="text" data-rsp_ch="on"
                            data-xy="x:c;y:m;yo:60px,60px,80px,50px;"
                            data-text="w:normal;s:72,64,56,40;l:80,72,64,48;fw:500;a:center;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;sR:1000;"
                            data-frame_999="o:0;st:w;sR:7000;"
                            style="z-index:6;font-family:'ClashDisplay';text-transform:capitalize;">
                            Empowering<br />
                            <span class="rc-color">Generation</span> of Farmers
                        </rs-layer>
    
                        <a id="slider-8-slide-32-layer-2" class="rs-layer rev-btn"
                            href="#}" target="_self" data-type="button"
                            data-xy="x:c;y:m;yo:200px,190px,230px,150px;" data-text="w:normal;s:18,18,16,16;l:32;"
                            data-dim="minh:0px,none,none,none;" data-rsp_bd="off"
                            data-padding="t:12,12,12,10;r:30;b:12,12,12,10;l:30;"
                            data-border="bor:500px,500px,500px,500px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1300;sp:1000;sR:1300;" data-frame_999="o:0;st:w;sR:6700;"
                            data-frame_hover="bgc:#1c2e16;bor:25px,25px,25px,25px;bri:120%;"
                            style="z-index:7;background-color:#6b8e23;font-family:'ClashDisplay';text-transform:uppercase;">
                            See Our Services
                        </a>
                    </rs-slide>
                </rs-slides>
            </rs-module>
        </rs-module-wrap>
    </div>
    <!-- END REVOLUTION SLIDER -->

      <!-- The Problem -->
    <section class="our-about overflow-hidden">
        <div class="container">
            <div class="row flex-column-reverse flex-xl-row">
                <div class="col-xl-6 pe-xl-4 mt-5 mt-xl-0 wow fadeInUp">
                    <div class="pq-about-media">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pq-image-border pq-ms-15">
                                    <img class="pq-image-1" src="{% static 'website/image/about/challenges-2.jpg' %}" alt="about-image">
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <img class="pq-image-2" src="{% static 'website/image/about/challenges-1.jpg' %}" alt="about-image">
                            </div>
                        </div>
                    </div>
                </div>

                <img class="pq-1-bg-image" src="{% static 'website/image/service/services-bottom-image.png' %}" alt="service-image">
                <div class="col-xl-6 ps-xl-5 wow fadeInRight">
                    <div class="pq-section-title pe-lg-5 mb-0">
                        <div class="pq-title">
                            <div class="pq-title-sub-title">
                                <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                                <span>The Problem</span>
                            </div>
                            <h5 class="pq-title-hadding">Challenges in Modern Agriculture</h5>
                            <br>
                            <p class="pq-title-description">Globally, pests and diseases account for an estimated 20-48% reduction in crop yields annually (UN FAO). 
                                Delayed detection of crop pest and diseases accounts for 47% of crop loss in every farming season across the world.</p>
                            <p> In Sub-Saharan Africa, specific pests alone cause annual cereal grain losses of about 4.1 million metric tonnes (UNEP). 
                                Furthermore, 38% of CO2 emissions stem from the excessive use of fertilizers and chemicals, leading to significant soil degradation (UNEP).</p>
                            {% comment %} <p class="pq-title-description">Smallholder farmers struggle with identifying pest and disease infestations early, often resorting to reactive and heavy chemical applications that damage soil health and increase production costs. 
                                The lack of affordable, real-time monitoring solutions has left them vulnerable to erratic yields and financial instability.</p> {% endcomment %}
                        </div>
                    </div>
                </div>

                <img class="pq-2-bg-image pq-left" src="{% static 'website/image/service/about-bottom-image-1.png' %}" alt="service-image">
            </div>
        </div>
    </section>

    <!-- About Us -->
    <section class="our-about overflow-hidden">
        <div class="container">
            <div class="row flex-xl-row">
                <div class="col-xl-6 ps-xl-5 wow fadeInLeft">
                    <div class="pq-section-title pe-lg-5 mb-0">
                        <div class="pq-title">
                            <div class="pq-title-sub-title">
                                <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                                <span>About Us</span>
                            </div>
                            <h5 class="pq-title-hadding">Empowering Farmers with Early Detection Technology</h5>
                            <br>
                            <p class="pq-title-description">We empower smallholder farmers by putting them ahead by providing early detection of crop pests, diseases, and nutrient deficiencies through our priority solar-powered detection device.</p>
                            <p class="pq-title-description">We leverage <b>Machine Learning Algorithms, Artificial Intelligence, and Hyperspectral Imaging Technologies</b> to detect crop threats before they manifest. 
                                We automatically send real-time SMS alerts and actionable recommendations to farmers, helping them mitigate losses and improve productivity.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pq-icon-box pq-style-1">
                                <div class="pq-icon-box-icon">
                                    <i aria-hidden="true" class="flaticon-sprout"></i>
                                </div>
                                <div class="pq-icon-box-content">
                                    <h4 class="pq-icon-box-content-title">Innovative Technology</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-4 mt-sm-0">
                            <div class="pq-icon-box pq-style-1">
                                <div class="pq-icon-box-icon">
                                    <i aria-hidden="true" class="flaticon-ecologist"></i>
                                </div>
                                <div class="pq-icon-box-content">
                                    <h4 class="pq-icon-box-content-title">Farmer-Centric Approach</h4>
                                </div>
                            </div>
                        </div>

                        <div class="pq-about-contact">
                            <span>Have Questions?</span>
                            <h4 class="pq-about-contact-title"><a href="#">+250791704244</a></h4>
                        </div>

                        <div class="pq-btn-container mt-5">
                            <a href="about-us.html" class="pq-button pq-button-flat">
                                <span class="pq-button-text">read more</span>                             </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 pe-xl-4 mt-5 mt-xl-0 wow fadeInUp">
                    <div class="pq-about-media">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pq-image-border pq-ms-15">
                                    <img class="pq-image-1" src="{% static 'website/image/about/about-us-img-1.png' %}" alt="about-image">
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <img class="pq-image-2" src="{% static 'website/image/about/about-us-img-2.png' %}" alt="about-image">
                            </div>
                        </div>
                    </div>
                </div>

                <img class="pq-2-bg-image pq-left" src="{% static 'website/image/service/about-bottom-image-1.png' %}" alt="service-image">
            </div>
        </div>
    </section>

    <!-- Our Services -->
    <section class="our-service pq-bg-gray overflow-hidden pq-bg-expand">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section-title text-center wow fadeInUp">
                        <div class="pq-title">
                            <div class="pq-title-sub-title justify-content-center">
                                <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                                <span>Our Services</span>
                            </div>
                            <h5 class="pq-title-hadding">What We Offer <span>For Farmers</span></h5>
                        </div>
                    </div>
                </div>

                <div class="pq-service-box-2-items pq-hover-active wow fadeInUp">
                    <div class="pq-service-box pq-style-1 pq-hover-item pq-active">
                        <div class="pq-service-box-icon">
                            <i class=" flaticon-planting-1" aria-hidden="true"></i>
                        </div>
                        <div class="pq-service-box-content">
                            <div class="pq-image-border">
                                <img class="pq-image-1" src="{% static 'website/image/service/style-1/service-img-1.png' %}"
                                    alt="service-image">
                            </div>
                            <h5 class="pq-service-box-title">Real-Time Pest and Disease Detection</h5>
                            <p class="pq-service-box-description">Our AI-powered device identifies crop pests, diseases, and nutrient deficiencies with **98% accuracy**, providing timely alerts for intervention.</p>
                        </div>
                    </div>
                    <div class="pq-service-box pq-style-1 pq-hover-item">
                        <div class="pq-service-box-icon">
                            <i class=" flaticon-shovel" aria-hidden="true"></i>
                        </div>
                        <div class="pq-service-box-content">
                            <div class="pq-image-border">
                                <img class="pq-image-1" src="{% static 'website/image/service/style-1/service-img-2.png' %}"
                                    alt="service-image">
                            </div>
                            <h5 class="pq-service-box-title">Smart Data Dashboard</h5>
                            <p class="pq-service-box-description">All collected farm data is transmitted to our **dashboard**, offering insights and trends to improve farm management and productivity.</p>
                        </div>
                    </div>
                    <div class="pq-service-box pq-style-1 pq-hover-item">
                        <div class="pq-service-box-icon">
                            <i class=" flaticon-corn" aria-hidden="true"></i>
                        </div>
                        <div class="pq-service-box-content">
                            <div class="pq-image-border">
                                <img class="pq-image-1" src="{% static 'website/image/service/style-1/service-img-3.png' %}"
                                    alt="service-image">
                            </div>
                            <h5 class="pq-service-box-title">Sustainable Farming Solutions</h5>
                            <p class="pq-service-box-description">By reducing chemical use and optimizing fertilizer application, our technology helps **restore soil health** and cut **CO2 emissions**.</p>
                        </div>
                    </div>
                    <div class="pq-service-box pq-style-1 pq-hover-item">
                        <div class="pq-service-box-icon">
                            <i class=" flaticon-tractor-3" aria-hidden="true"></i>
                        </div>
                        <div class="pq-service-box-content">
                            <div class="pq-image-border">
                                <img class="pq-image-1" src="{% static 'website/image/service/style-1/service-img-4.png' %}"
                                    alt="service-image">
                            </div>
                            <h5 class="pq-service-box-title">Off-Grid Functionality</h5>
                            <p class="pq-service-box-description">Our **100% solar-powered** system ensures continuous monitoring and data collection, even in remote areas without electricity.</p>
                        </div>
                    </div>
                    <div class="pq-service-box pq-style-1 pq-hover-item">
                        <div class="pq-service-box-icon">
                            <i class=" flaticon-land" aria-hidden="true"></i>
                        </div>
                        <div class="pq-service-box-content">
                            <div class="pq-image-border">
                                <img class="pq-image-1" src="{% static 'website/image/service/style-1/service-img-5.png' %}"
                                    alt="service-image">
                            </div>
                            <h5 class="pq-service-box-title">Actionable SMS Alerts</h5>
                            <p class="pq-service-box-description">Farmers receive **instant SMS alerts** with customized recommendations to take the right actions before damage escalates.</p>
                        </div>
                    </div>
                </div>

                <img class="pq-3-bg-image" src="{% static 'website/image/service/about-bottom-image-1.png' %}" alt="about-image">
                <img class="pq-7-bg-image" src="{% static 'website/image/service/services-bottom-image.png' %}" alt="bg-image">
            </div>
        </div>
    </section>


       <!-- Image Section - Our Impact in Action -->
       <section class="image-box gallery pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="pq-section-title text-start pe-2 wow fadeInRight">
                        <div class="pq-title">
                            <div class="pq-title-sub-title">
                                <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                                <span>Our Impact in Action</span>
                            </div>
                            <h5 class="pq-title-hadding">Transforming Agriculture Through <span>Technology</span></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="pq-image-box-item wow fadeInRight">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pq-image-box pq-style-1">
                                    <a href="{% static 'website/image/image-box/Project-image-8.png' %}">
                                        <img src="{% static 'website/image/image-box/Project-image-8.png' %}" alt="Real-time Pest Detection">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <div class="pq-image-box pq-style-1">
                                    <a href="{% static 'website/image/image-box/Project-image-6.png' %}">
                                        <img src="{% static 'website/image/image-box/Project-image-6.png' %}" alt="Sustainable Farming Practices">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-lg-5 mt-4">
                <div class="col-lg-7">
                    <div class="pq-image-box-item wow fadeInRight">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pq-image-box pq-style-1">
                                    <a href="{% static 'website/image/image-box/Project-image-7.png' %}">
                                        <img src="{% static 'website/image/image-box/Project-image-7.png' %}" alt="Climate-Smart Agriculture">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <div class="pq-image-box pq-style-1">
                                    <a href="{% static 'website/image/image-box/Project-image-2-1.png' %}">
                                        <div class="pq-image-border">
                                            <img class="pq-image-1" src="{% static 'website/image/image-box/Project-image-2-1.png' %}"
                                                alt="Farmer Training & Support">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 mt-4 mt-lg-0 pq-moving-start">
                    <div class="pq-popup-animation pq-style-1 pq-moving-button wow fadeInRight">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=XHOmBV4js_E">
                            <div class="pq-popup-inner">
                                <div class="pq-popup-content">
                                    <i class=" ti-arrow-top-right"></i>
                                </div>
                                <img src="{% static 'website/image/popup/popup-animation.png' %}" alt="Sentra in Action">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Counter - SDG Impact -->
<section class="counter overflow-hidden pt-5">
    <div class="container">
        <div class="row">
            <!-- SDG 1 - No Poverty -->
            <div class="col-lg-4 col-md-6 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="44" data-pq-duration="2000">44</h5>
                            <span class="pq-counter-prefix">%</span>
                        </div>
                        <p class="pq-counter-description">Increase in farm yields</p>
                    </div>
                    <div class="pq-counter-icon">
                        <img src="{% static 'website/image/sdg_1.png' %}" alt="SDG 1 - No Poverty">
                    </div>
                </div>
            </div>

            <!-- SDG 2 - Zero Hunger -->
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="33" data-pq-duration="2000">33</h5>
                            <span class="pq-counter-prefix">%</span>
                        </div>
                        <p class="pq-counter-description">Reduction in farm losses</p>
                    </div>
                    <div class="pq-counter-icon">
                        <img src="{% static 'website/image/sdg_2.png' %}" alt="SDG 2 - Zero Hunger">
                    </div>
                </div>
            </div>

            <!-- SDG 13 - Climate Action -->
            <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 pe-lg-5">
                <div class="pq-counter pq-counter-style-1 wow fadeInUp">
                    <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                            <h5 class="pq-count timer" data-count="2" data-pq-duration="2000">2</h5>
                            <span class="pq-counter-prefix">T</span>
                        </div>
                        <p class="pq-counter-description">CO₂ reduced per device annually</p>
                    </div>
                    <div class="pq-counter-icon">
                        <img src="{% static 'website/image/sdg_13.png' %}" alt="SDG 13 - Climate Action">
                    </div>
                </div>
            </div>

            <img class="pq-4-bg-image" src="{% static 'website/image/background-image/project-bottom-image.png' %}" alt="image">
        </div>
    </div>
</section>


    {% comment %} <!-- Process -->
<section class="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section-title text-center wow fadeInUp">
                    <div class="pq-title">
                        <div class="pq-title-sub-title justify-content-center">
                            <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                            <span>Our Journey</span>
                        </div>
                        <h5 class="pq-title-hadding">Evolution of <span>Sentra</span></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="pq-process-step-slider style-2 wow fadeInUp">
                    <div class="owl-carousel" data-dots="false" data-nav="false" data-desk_num="4" data-lap_num="3"
                        data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true"
                        data-margin="30">

                        <div class="item">
                            <div class="pq-process-step style-2">
                                <h3 class="pq-process-year">2024</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Birth of Sentra</h5>
                                    <p class="pq-process-description">
                                        Conceptualized as a precision agriculture solution to reduce pesticide overuse and improve crop monitoring using AI and IoT.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pq-process-step style-2">
                                <h3 class="pq-process-year">Early 2025</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Prototype Development</h5>
                                    <p class="pq-process-description">
                                        First prototype built—integrating solar-powered sensors, machine learning, and real-time SMS notifications for farmers.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pq-process-step style-2">
                                <h3 class="pq-process-year">2025</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Field Testing & Refinements</h5>
                                    <p class="pq-process-description">
                                        Conducted pilot programs with smallholder farmers, refining detection accuracy and optimizing data processing.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pq-process-step style-2">
                                <h3 class="pq-process-year">Mid 2025</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Scaling & Strategic Partnerships</h5>
                                    <p class="pq-process-description">
                                        Secured grants from WFP and Bestseller Foundation, enabling expansion and further research into reinforcement learning models.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pq-process-step style-2">
                                <h3 class="pq-process-year">Future</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Expanding Across Africa</h5>
                                    <p class="pq-process-description">
                                        Sentra aims to revolutionize farming by deploying AI-powered detection devices across climate-vulnerable regions, helping millions of farmers.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<!-- Our Impact -->
<section class="impact py-5">
    <div class="container">
        <!-- Section Title -->
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="pq-section-title text-center wow fadeInUp">
                    <div class="pq-title">
                        <div class="pq-title-sub-title d-flex align-items-center justify-content-center">
                            <img src="{% static 'website/image/section-image/group_new.png' %}" alt="icon" class="me-2">
                            <span>Our Impact</span>
                        </div>
                        <h5 class="pq-title-hadding mt-3">Transforming <span>Agriculture</span></h5>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Impact Metrics Carousel -->
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="pq-process-step-slider style-2 wow fadeInUp">
                    <div class="owl-carousel" data-dots="true" data-nav="false" data-desk_num="4" data-lap_num="3"
                        data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true"
                        data-margin="30">

                        <!-- Impact Item 1 -->
                        <div class="item">
                            <div class="pq-process-step style-2 h-100 p-4">
                                <h3 class="pq-process-year">44%</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Increase in Crop Yields</h5>
                                    <p class="pq-process-description">
                                        Farmers using Sentra's precision monitoring reported a <strong>44% boost in productivity</strong>, reducing losses from pests and diseases.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Impact Item 2 -->
                        <div class="item">
                            <div class="pq-process-step style-2 h-100 p-4">
                                <h3 class="pq-process-year">2T</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">CO₂ Emissions Prevented</h5>
                                    <p class="pq-process-description">
                                        Each Sentra device reduces <strong>2 tonnes of carbon emissions per year</strong> by minimizing fertilizer overuse and improving resource efficiency.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Impact Item 3 -->
                        <div class="item">
                            <div class="pq-process-step style-2 h-100 p-4">
                                <h3 class="pq-process-year">1,000+</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Farmers Empowered</h5>
                                    <p class="pq-process-description">
                                        More than <strong>1,000 smallholder farmers</strong> have benefited from real-time farm insights, leading to better decision-making and improved food security.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Impact Item 4 -->
                        <div class="item">
                            <div class="pq-process-step style-2 h-100 p-4">
                                <h3 class="pq-process-year">0.5 Ha</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Soil Restoration Per Farm</h5>
                                    <p class="pq-process-description">
                                        Sentra's AI-driven insights contribute to <strong>restoring 0.5 hectares of degraded land per farm</strong>, ensuring long-term sustainability.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Impact Item 5 -->
                        <div class="item">
                            <div class="pq-process-step style-2 h-100 p-4">
                                <h3 class="pq-process-year">Scaling</h3>
                                <div class="pq-timeline-line"></div>
                                <div class="pq-process-content">
                                    <h5 class="pq-process-title">Expanding Across Africa</h5>
                                    <p class="pq-process-description">
                                        Sentra is on track to scale across <strong>multiple African regions</strong>, deploying <strong>AI-powered monitoring solutions to millions of farmers</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Partners & Supporters Section -->
<!-- Partners & Supporters Section -->
<div class="row">
    <div class="col-lg-12 mb-4">
        <h4 class="text-center mb-4">Our Partners & Supporters</h4>
    </div>
    <div class="col-lg-12">
        <div class="pq-client-box-slider pq-style-1 py-4 wow fadeInUp">
            <div class="owl-carousel partner-carousel" 
                data-dots="false" 
                data-nav="false" 
                data-desk_num="6" 
                data-lap_num="5" 
                data-tab_num="4" 
                data-mob_num="3" 
                data-mob_sm="2" 
                data-autoplay="true" 
                data-loop="true" 
                data-margin="30"
                data-autoplay-speed="0" 
                data-autoplay-timeout="1" 
                data-autoplay-hover-pause="false">
                
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/best-seller.svg' %}" alt="Best Seller" class="img-fluid">
                </div>
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/diana-award.svg' %}" alt="Diana Award" class="img-fluid">
                </div>
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/mills-fabrica.svg' %}" alt="Mills Fabrica" class="img-fluid">
                </div>
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/walls-foundation.svg' %}" alt="Walls Foundation" class="img-fluid">
                </div>
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/world-food-program.svg' %}" alt="World Food Programme" class="img-fluid">
                </div>
                <div class="item d-flex justify-content-center align-items-center px-3">
                    <img src="{% static 'website/image/client-box/style-1/worldforum.svg' %}" alt="World Forum" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>


    </div>
</section>


    <!-- Meet the Team -->
<section class="team pq-bg-gray overflow-hidden pq-bg-expand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pq-section-title text-center wow fadeInUp">
                    <div class="pq-title">
                        <div class="pq-title-sub-title justify-content-center">
                            <img src="{% static 'website/image/section-image/group_new.png' %}" alt="image">
                            <span>Meet the Team</span>
                        </div>
                        <h5 class="pq-title-hadding">The <span>Innovators</span> Behind Sentra</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="pq-team-slider-1 center-owl-carousel wow fadeInUp">
                <div class="owl-carousel" data-dots="false" data-nav="true" data-desk_num="3" data-lap_num="3"
                    data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false" data-loop="true"
                    data-center="true" data-margin="60">

                    <!-- CEO -->
                    <div class="item">
                        <div class="pq-team pq-style-1">
                            <div class="pq-team-img">
                                <img src="{% static 'website/image/team/style-1/team-img-1.png' %}" alt="team-image">
                                <div class="pq-team-social">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="pq-team-info">
                                <a>
                                    <h5 class="pq-member-name">Smart Israel</h5>
                                </a>
                                <span class="pq-member-designation">CEO & AI Engineer</span>
                            </div>
                        </div>
                    </div>

                    <!-- CMO -->
                    <div class="item">
                        <div class="pq-team pq-style-1">
                            <div class="pq-team-img">
                                <img src="{% static 'website/image/team/style-1/team-img-2.png' %}" alt="team-image">
                                <div class="pq-team-social">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="pq-team-info">
                                <a>
                                    <h5 class="pq-member-name">Sebrina Osman</h5>
                                </a>
                                <span class="pq-member-designation">Chief Marketing Officer</span>
                            </div>
                        </div>
                    </div>

                    <!-- CTO -->
                    <div class="item">
                        <div class="pq-team pq-style-1">
                            <div class="pq-team-img">
                                <img src="{% static 'website/image/team/style-1/team-img-3.png' %}" alt="team-image">
                                <div class="pq-team-social">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="pq-team-info">
                                <a>
                                    <h5 class="pq-member-name">Lilala Runiga</h5>
                                </a>
                                <span class="pq-member-designation">CTO & AI Researcher</span>
                            </div>
                        </div>
                    </div>

                    <!-- CFO -->
                    <div class="item">
                        <div class="pq-team pq-style-1">
                            <div class="pq-team-img">
                                <img src="{% static 'website/image/team/style-1/team-img-4.png' %}" alt="team-image">
                                <div class="pq-team-social">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="pq-team-info">
                                <a>
                                    <h5 class="pq-member-name">Nicole Irakoze</h5>
                                </a>
                                <span class="pq-member-designation">Chief Financial Officer</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

  <!-- Sentra's Vision -->
<section class="appointment pq-bg-3-image pq-py-90 pq-bg-expand">
    <div class="container">
        <div class="pq-icon-box-item">
            <div class="pq-icon-box pq-style-5">
                <div class="pq-icon-box-logo wow zoomIn">
                    <div class="pq-icon-box-icon">
                        <i aria-hidden="true" class="flaticon-planting-1"></i>
                    </div>
                </div>

                <div class="pq-icon-box-content wow zoomIn">
                    <h3 class="pq-icon-box-title">Transforming Agriculture with AI-Powered Innovation</h3>
                    <p class="pq-icon-box-description">
                        Sentra is redefining precision farming with real-time monitoring, smart analytics, and sustainable solutions for farmers.
                    </p>
                </div>
            </div>
            <div class="pq-btn-container mt-4 wow zoomIn">
                <a href="about-us.html" class="pq-button pq-button-flat">
                    <span class="pq-button-text">Learn More</span>
                </a>
            </div>
        </div>
    </div>
</section>



    {% endblock %}

